@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lobster&family=Permanent+Marker&family=Roboto+Condensed&family=Yeseva+One&display=swap');


* {
  margin: 0px;
  padding: 0px;

}

body {
  width: 100vw;
  position: absolute;
  
  background-image: url(image/bckimg03.jpg);
  background-size: cover;
  background-repeat: repeat-y;
}

header {
  background-color: #0D0D0D;
  font-size: 1.8rem;
  text-align: center;
  padding: 10px 10px 20px 10px;
  margin-bottom: 20px;
  
}

h1 {
  background-color: #F24171;
  font-family: 'Nerko One', cursive;
  text-align: center;
  border-radius: 10px;
  position: relative;
  width: 300px;
  margin: auto;
}

header > p {
  color: #F27999;
  text-align: center;
  font-family: 'Nerko One', cursive;
  font-size: 1.2rem;
  padding-top: 15px;
}

main {
  display: flex;
  padding: 10px;
  
}

.ul-container, .ol-container {
  background-color: #85C8F2;
  
  margin: auto;
  padding: 15px;
  width: 500px;
  height: 550px;
  display: inline-block;
  position: relative;

  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.493);
  
  list-style: square inside;
  
}

h2 {
  color: #8111dd;
  text-align: center;
  text-decoration: underline;
  font-size: 1.7rem;
  font-family: 'Nerko One', cursive;
  
  padding: 10px;
}

h2 > p {
  text-align: justify;
  padding: 10px;
}

.ul-title, .ol-title {
  color: #8111dd;
  font-family: 'Nerko One', cursive;
  font-size: 1.6rem;
  text-align: center;
  word-spacing: 15px;
  letter-spacing: 3px;

  border: 1px solid black;
  padding: 30px 5px 30px 5px;
  
}

hr {
  margin: 15px 0px 15px 0px;
}

.ul-list, .ol-list {
  border: 1px solid black;
  padding: 20px;
  font-size: 1.2rem;
  display: list-item;
  columns: 2;
}

li {
  padding: 5px;
  text-align: justify;
  
}

