@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lobster&family=Permanent+Marker&family=Roboto+Condensed&family=Yeseva+One&display=swap');

/* :root {
  --h2-font-size: varfont-size: clamp(0.8em, 2em, 4em);
} */

* {
  margin: 0px;
  padding: 0px;
  

}

body {
  width: 100vw;
  position: absolute;
  background-image: url(image/bckimg05.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
  /* overflow-x: hidden; */
  
}

header {
  background-color: #0d0d0de5;
  font-size: 1rem;
  width: 100%;
  /* width: clamp(600px); */
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px 0px 5px 0px;
  
  box-shadow: 0px 6px 6px 2px rgba(0, 0, 0, 0.493);
  position: relative;
  
}

h1 {
  background-color: #F24171;
  font-family: 'Nerko One', cursive;
  text-align: center;
  border-radius: 10px;
  position: relative;
  width: clamp(70vw, 450px, 500px);
  margin: auto;
  box-shadow: inset 0px 0px 6px 3px black;
  padding-top: 10px;
  padding-bottom: 10px;
}

header > p {
  color: #F27999;
  text-align: center;
  font-family: 'Nerko One', cursive;
  font-size: clamp(0.6rem, 5vw, 1.3rem);
  padding: 15px 70px 15px 70px;
  text-decoration: underline;
}

.header-link {
  color: white;
  text-decoration: none;
}

a.header-link:hover {
  color:black;
  background-color: #F24171;
  padding: 5px 9px 5px 9px;
  border-radius: 5px;
  width: 70px;
  border: 1px solid #8111dd;
  text-decoration: underline;
  box-shadow: inset 0px 0px 3px 1px black;

}

main {
  padding: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* flex-wrap permitiu fazer a quebra das tabelas nos display flex */
  
}

.ul-container, .ol-container {
  background-color: #85C8F2;
  margin: auto;
  margin-bottom: 25px;
  padding: 15px;
  width: 500px;
  height: 700px;
  display: inline-block;
  position: relative;

  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.493);
  
  list-style: square inside;
  
}



h2, h3 {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-size: 1.5rem;
  font-family: 'Nerko One', cursive;
  background-image: linear-gradient(to bottom, #8111dd 0%, #F24171 50%, #8111dd 100%);
  padding: 10px;
  margin-bottom: 15px;
  

  border-radius: 10px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.493);
}

h3 {
  background-image: url(image/bckimg05.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;

  box-shadow: inset 0px 3px 6px 3px rgba(0, 0, 0, 0.493);
}

h2 > p {
  text-align: justify;
  font-size: clamp(1rem, 1em, 3.5rem);

}

.ul-title, .ol-title {
  color: #000000;
  font-family: 'Nerko One', cursive;
  font-size: 1.6rem;
  text-align: center;
  word-spacing: 15px;
  letter-spacing: 3px;

  border: 1px solid black;
  padding: 30px 5px 30px 5px;
  
}


.ul-list, .ol-list {
  border: 1px solid black;
  padding: 20px;
  font-size: 1em;
  font-weight: bold;
  display: list-item;
  columns: 2;
  border-radius: 10px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.493);
  height: 200px;

  background-image: url(image/bckimg05.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;

  background-image: linear-gradient(to bottom, #8111dd 0%, #F24171 50%, #8111dd 90%);
}

li {
  padding: 5px;
  text-align: justify;
  text-decoration: underline;
}

footer {
  color: white;
  background-color: #0d0d0de5;
  text-align: center;
  padding: 15px;
  width: 80vw;
  position: relative;
  margin: auto;
  box-shadow: 0px 6px 6px 2px rgba(0, 0, 0, 0.493);
  border-radius: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color:black;
  background-color: rgba(211, 211, 211, 0.685);
  padding: 10px;
  border-radius: 15px;
  width: 50px;
  border: 1px solid #8111dd;
  text-decoration: underline;

}

